/* Base */
* {
  font-family: "News Cycle", sans-serif;
  margin: 0;
}

body {
  background-color: #d4d4aa;
}

h1 {
  font-size: 3.2rem;
  font-family: "Finger Paint", cursive;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1.8rem;
}

nav {
  background-color: #e8871e;
  border-radius: 0px 0px 50px 50px;
  padding: 100px;
}
nav .main_logo {
  position: relative;
  bottom: 30px;
  font-size: 3.2rem;
  font-family: "Finger Paint", cursive;
  text-decoration: none;
  color: black;
  padding: 20px;
  border-bottom: solid 10px white;
}
nav ul {
  float: right;
}
nav ul li {
  list-style-type: none;
  text-decoration: none;
}
nav ul li a {
  position: relative;
  bottom: 40px;
  font-size: 2rem;
  color: black;
}
nav ul li a:hover {
  color: white;
}

footer {
  clear: both;
}

/*# sourceMappingURL=base.css.map */
