<template>
<div class="mt-4 offset-2">
  <form>
  <div v-if="erreurs.length > 0">
    <ul>
      <li class="erreur mr-4" v-for="(erreur, index) in erreurs" :key="index">{{erreur}}</li>
    </ul>
  </div>¸
   <label class="h2 mr-5"> Nommez votre liste</label>
    <input type="text" v-model="nom"/>
    <button class="submit ml-2" type="submit" @click=creerListe>Soumettre</button>
    </form>
</div>
</template>
<script>
export default {
  name: 'creerListe',
  data: function () {
    return { erreurs: [], nom: '' }
  },
  methods: {
    creerListe: function () {
      if (!this.nom) {
        this.erreurs = ['Le nom ne doit pas être vide']
      } else {
        let listes = localStorage.getItem('listes')
        let id
        if (listes === null) {
          listes = []
          id = 0
        } else {
          listes = JSON.parse(listes)
          id = listes.length
        }
        listes.push({ nom: this.nom, items: [], editable: true })
        localStorage.setItem('listes', JSON.stringify(listes))
        this.$router.push({ path: '/liste', query: { id: id, allo: 'aaa' } })
      }
    }

  }
}
</script>

<style>
@import '../../public/stylesheets/base.css';
@import '../../public/stylesheets/layout.css';
</style>
