$base-color: #d4d4aa;
$header-color: #e8871e;
$window-color: #edb458;
/* Base */
* {
    font-family: "News Cycle", sans-serif;
    margin:0;
}
body {
    background-color:$base-color;
}
.liste {
    background-color:$header-color;
}
h1 {
    font-size: 3.2rem;
    font-family: "Finger Paint", cursive;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
p {
    font-size: 1.8rem;
}
nav {
    background-color: $header-color;
    border-radius: 0px 0px 50px 50px;
    padding:100px;
    margin-top:-62px;
    }
    ul {
        float:right;
        li {
            list-style-type: none;
            text-decoration: none;
            a {
                position:relative;
                bottom:20px;
                font-size:2rem;
                color: black;
                &:hover {
                    color: white;
                }
            }
        }
    }
footer {
    clear: both;
}


/*-----submit components-----*/

.submit{
    background-color: $header-color;
    border-radius: 10px;
    border: 1px black solid;
}

input{
    background-color: $window-color; 
}

.erreur{
    color: red;
}

/*-----listes-----*/
.ligne{
    background-color: $base-color;
    border: 1px black solid;
    width: 100%;
}

.liste {
    background-color: $window-color;
    width: 40%;
    padding-bottom: 30%;
    margin: 3% 0 0 25%;
    border: 3px black solid;
    border-radius: 20px;
}

/*-----produits-----*/
#recherche{
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
}