$base-color: #d4d4aa;
$header-color: #e8871e;
$window-color: #edb458;

.liste{
    padding:10px;
    background-color: #e8871e;
}

.ligne{
    background-color: #BAD4AA;
}

.main_logo {
    position:relative;
    bottom:20px;
    font-size: 3.2rem;
    font-family: "Finger Paint", cursive;
    text-decoration:none;
    color:black;
    padding:20px;
    border-bottom:solid 10px white;
}